<section class="full_list">
    <div class="full_left">
        <div class="content">
            <% for (let post of posts.data) { %>
                <!-- 게시글 시작 -->
                <article class="content">
                    <header>
                        <div class="uploader_pic">
                            <div class="uploader_button" role="button" aria-disabled="true" style="width: 32px; height: 32px;">
                                <a href="/<%=post.user.username%>" target="_self"><img class="_6q-tv" data-testid="user-avatar" draggable="false" src="/image/userpic/<%=post.user.userinfo.picture%>"></a>
                            </div>
                        </div>
                        <div class="uploader_name"><a href="/<%=post.user.username%>" class="uploader_name"><%=post.user.username%></a></div>
                        <div class="button_like"><img src="/image/heartOn.png"></div>
                    </header>
                    <div class="upload_pic"><img class="FFVAD" decoding="auto" style="width: 100%; height: auto;" src="/image/boardpic/<%=post.file%>"></div>
                    <footer>
                        <div class="latest_comment">
                            <div class="latest_commenter">
                                <% if(post.boardLikes[0]) {
                                    var boardLikesUsername = post.boardLikes[0].user.username;
                                    if (post.boardLikes[0].user.userinfo.picture) {
                                        var boardLikesPicture = post.boardLikes[0].user.userinfo.picture;
                                    } else {
                                        var boardLikesPicture = "nopic.jpg";
                                    }
                                %>
                                <div class="latest_commenter_pic" style="width: 32px; height: 32px;">
                                    <a href="/<%=boardLikesUsername%>" target="_self"><img class="_6q-tv" data-testid="user-avatar" draggable="false" src="/image/userpic/<%=boardLikesPicture%>"></a>
                                </div>
                                <div class="latest_commenter_name"><b><%=boardLikesUsername%></b> 님&nbsp;<b>외 <%=post.likes-1%>명</b>이 좋아합니다.</div>
                                <% } else { %>
                                <div class="latest_commenter_name">0명</b>이 좋아합니다.</div>
                                <% } %>
                            </div>
                        </div>
                        <div class="content">
                            <div class="uploader_name"><span class="name"><%=post.user.username%></span><span class="text"><%=post.contents%></span></div>
                        </div>
                        <div class="comment">
                            <div class="countComment"><a href="/<%=post.user.username%>/<%=post.id%>" target="_self">댓글 <%=post.replies%>개 모두 보기</a></div>
                                <% for (let reply of post.boardReplies) { %>
                                <div class="comment_name"><span class="name"><a href="/<%=reply.user.username%>" target="_self"><%=reply.user.username%></a></span><span class="text"><%=reply.contents%></span></div>
                                <% } %>
                        </div>
                        <div class="time"><%=post.createdAt%></div>
                    </footer>
                </article>
                <!-- 게시글 끝 -->
            <% } %>
            <!-- 게시물 줄 끝 -->
            <% if (!posts.isPost) { %>
                <div class="notPostList">
                    포스트가 없습니다.
                </div>
            <% } %>
        </div>
    </div>
    <%- include('../include/full_right') %>
</section>
