<section class="full_list">
    <div class="full_left">
        <div class="content">
            <header>
                <div class="mypic">
                    <div class="mypic_inner">
                        <a href="/">
                            <% if (targetinfo.picture) { %>
                            <img class="be6sR" src="/image/userpic/<%= targetinfo.picture %>">
                            <% } else { %>
                                <img class="be6sR" src="/image/userpic/nopic.jpg">
                            <% } %>
                        </a>
                    </div>
                </div>
                <div class="myinfo">
                    <div class="myinfo_name">
                        <h2><%= targetinfo.username %></h2>
                    </div>
                    <div class="myinfo_count">
                        <h3>게시물 <%= locals.count %></h3>
                    </div>
                    <div class="myinfo_info">
                        <h3><%= targetinfo.name %></h3>
                        <%= targetinfo.comment %>
                    </div>
                </div>
            </header>
            <div class="border"></div>
            <div class="postList">
                <%
                let j = 0;
                for (let post of posts.data) { %>
                    <% if( 3-(j % 3) === 3) { %>
                    <!-- 게시물 줄 시작 -->
                    <div class="third">
                    <% } %>
                        <!-- 게시물 시작 -->
                        <article <% if (3-(j%3) === 1) { %> class="item_end" <% } else { %>class="item"<% } %>>
                            <a href="/<%= targetinfo.username %>/<%= post.id %>" target="_self">
                                <img class="FFVAD" decoding="auto" style="object-fit: cover;" sizes="293px" src="/image/boardpic/<%=post.file%>">
                            </a>
                        </article>
                        <!-- 게시물 끝 -->
                        <% if ( (j+1) === posts.count) { %>
                            <% let k = 3 - (j%3); %>
                            <% for (k; k > 1; k--) { %>
                                <!-- 게시물 시작 -->
                                <article <% if (k === 2) { %> class="item_end"<% } else { %>class="item"<% } %>>
                                </article>
                                <!-- 게시물 끝 -->
                            <% } %>
                        <% } %>
                        <% if (3-(j % 3) === 1 || j === posts.count-1 ) { %>
                    </div>
                        <% } %>
                    <% j++;%>
                <% } %>
            </div>
            <!-- 게시물 줄 끝 -->
        </div>
        </div>
    </div>
    <%- include('../include/full_right') %>
</section>


