<section class="full_list">
    <div class="full_left">
        <div class="content">
            <!-- 게시글 시작 -->
            <article class="content">
                <header>
                    <div class="uploader_pic">
                        <div class="uploader_button" role="button" aria-disabled="true" style="width: 32px; height: 32px;">
                            <% if (targetinfo.picture) { %>
                            <a href="/<%=targetinfo.username%>" target="_self"><img class="_6q-tv" data-testid="user-avatar" draggable="false" src="/image/userpic/<%=targetinfo.picture%>"></a>
                            <% } else {%>
                            <a href="/<%=targetinfo.username%>" target="_self"><img class="_6q-tv" data-testid="user-avatar" draggable="false" src="/image/userpic/nopic.jpg"></a>
                            <% } %>
                        </div>
                    </div>
                    <div class="uploader_name"><a href="/<%=targetinfo.username%>" class="uploader_name"><%=targetinfo.username%></a></div>
                    <!--<div class="button_like"><svg aria-label="좋아요 취소" class="_8-yf5 " fill="#ed4956" height="24" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg></div>-->
                    <% if(targetinfo.username === myinfo.username) { %>
                    <div class="button_delete"><a href="/<%=targetinfo.username%>/<%=locals.post%>/delete" target="_self"><img src="/image/trash.png" style="width: 24px; height: 24px;"></a></div>
                    <% } %>
                </header>
                <div class="upload_pic"><img class="FFVAD" decoding="auto" style="width: 100%" sizes="614px" srcset="/image/boardpic/<%=posts.data.file%>"></div>
                <footer>
                    <div class="latest_comment">
                        <div class="latest_commenter">
                            <% if(posts.data.boardLikes[0]) {
                                var boardLikesUsername = posts.data.boardLikes[0].user.username;
                                if (posts.data.boardLikes[0].user.userinfo.picture) {
                                    var boardLikesPicture = posts.data.boardLikes[0].user.userinfo.picture;
                                } else {
                                    var boardLikesPicture = "nopic.jpg";
                                }
                            %>
                            <div class="latest_commenter_pic" style="width: 32px; height: 32px;">
                                <a href="/<%=boardLikesUsername%>" target="_self"><img class="_6q-tv" data-testid="user-avatar" draggable="false" src="/image/userpic/<%=boardLikesPicture%>"></a>
                            </div>
                            <div class="latest_commenter_name"><b><%=boardLikesUsername%></b> 님&nbsp;<b>외 <%=posts.data.likes-1%>명</b>이 좋아합니다.</div>
                            <% } else { %>
                                <div class="latest_commenter_name">0명</b>이 좋아합니다.</div>
                            <% } %>
                        </div>
                    </div>
                    <div class="content">
                        <div class="uploader_name"><span class="name"><%=posts.userinfo.username%></span><span class="text"><%=posts.data.contents%></span></div>
                    </div>
                    <div class="comment">
                        <div class="countComment">댓글 <%=posts.data.replies%>개</div>
                        <!-- 코멘트 반복 시작 -->
                        <% for (comment of comments.data) { %>
                        <div class="comment_name"><span class="name"><%=comment.user.username%></span><span class="text"><%=comment.contents%></span></div>
                        <% } %>
                        <!-- 코멘트 반복 끝 -->
                    </div>
                    <div class="time"><%=posts.data.createdAt%></div>
                    <div class="comment_write">
                        <form class="comment_write" action="/<%=targetinfo.username%>/<%=posts.data.id%>/comment" method="POST">
                                <script type="application/javascript">
                                    function keyup(obj) {
                                        obj.style.height = '15px';
                                        obj.style.height = (obj.scrollHeight) + 'px';
                                    }
                                </script>
                                <textarea class="comment_write" onkeyup="keyup(this)" placeholder="댓글 달기..." name="CommentText"></textarea>
                                <button class="comment_write_button" type="submit">게시</button>
                        </form>
                    </div>
                </footer>
            </article>
            <!-- 게시글 끝 -->
        </div>
    </div>
    <%- include('../include/full_right') %>
</section>
