<section class="full_list">
    <div class="full_left">
        <div class="content">
            <!-- 게시글 시작 -->
            <div class="write">
                <header>
                    <div class="uploaderPic">
                        <div class="uploader_button" role="button" aria-disabled="true" style="width: 32px; height: 32px;">
                            <a href="/" target="_self"><img class="_6q-tv" data-testid="user-avatar" draggable="false" src="/image/userpic/<%=myinfo.picture%>"></a>
                        </div>
                    </div>
                    <div class="uploader_name"><%=myinfo.username%></div>
                </header>
                <form class="edit_detail" action="/<%=myinfo.username%>/write" method="POST" enctype="multipart/form-data">
                    <script src="/js/fileUploadBoard.js" type="application/javascript"></script>
                    <div class="Filebox">
                        <input class="uploadFileName" value="파일선택" disabled="disabled">
                        <label for="input-file" class="fileUploadLabel">사진선택</label>
                    </div>
                    <div class="preview-image"> <input class="upload-hidden" type="file" id="input-file" name="writePic" style="display: none;"></div>
                    <div class="detail">
                        <div class="content">
                            <div class="uploader_name">
                                <span class="name"><%=myinfo.username%></span>
                                <textarea class="writeText" name="writeText"></textarea>
                            </div>
                        </div>
                    </div>
                    <% if (locals.Msg) { %>
                    <h2 class="alert">
                        <%=locals.Msg%>
                    </h2>
                    <% } %>
                    <div class="button">
                        <button type="submit">작성완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../include/full_right') %>
</section>
